<body style="background-image: url('assets/back.png'); background-size: cover; background-position: center;">

    <div class="navbar">
      <div class="logo">
        <img src="assets/Logo.png" alt="Logo">
      </div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Crafts</a></li>
        <li><a href="/materials">Materials</a></li>
      </ul>
      <div class="user-dropdown">
        <button class="user-button">
          <img src="assets/menu.png" alt="Profile" class="profile-image">
        </button>
        <div class="dropdown-content">
          <a href="/login">Admin</a>
          <a href="/login"> Login </a>
        </div>
      </div>
    </div>
  
    <div>
      <h1 class="Slogan">EMPOWERING <br> NATURE'S <br> BOUNTY</h1>
      <a class="more" href="#">See More</a>
    </div>
  
    <div class="information">
      <div class="nr1">
        <h1 class="info1">Crafting   •</h1>
        <p class="describe">In realms where stars forge reality, crafting tools blends science and fantasy. Born of dying stars or dreams' fabric, they shape existence with celestial might or ethereal luminescence. </p>
      </div>
    
      <div class="nr2">
        <h1 class="info2">Tools   •</h1>
        <p class="describe">In the cosmic atelier, crafting tools demands toil beyond measure. From star's fiery heart to dreams' elusive fabric, each material exacts a toll, demanding mastery of the forge.</p>
      </div>
    </div>
  
    <div class="calltoaction">
      <img src="assets/Character1.png" alt="Logo">
      <div class="overlay">
        <h2 class="ForgeInfo">FORGE THE FUTURE</h2>
        <p>Where Cosmic Essence Meets Imagination's Edge Travel the realms, melding celestial essence with boundless creativity to sculpt realities beyond the stars.</p>
        <h3 class="slogan2">Dare to dream; dare to forge the cosmos</h3>
      </div>
    </div>
  
    <div>
  <div>
    <h1 class="rdInfo">CRAFT YOUR <br> LEGACY</h1>
    <img class="right" src="assets/Levels.png" alt="Logo">
    <h1 class="information3">We are the custodians of cosmic craftsmanship, offering a vast inventory of tools to fuel your journey through the realms. Our repository brims with celestial marvels, from the radiant cores of dying stars to the ethereal fabric of dreams. <br><br>
  
      Explore our virtual vaults, where every tool is meticulously catalogued and imbued with the essence of cosmic potential. With each click, you unlock a universe of possibilities, tailored to your crafting aspirations and skill level.<br><br>
      
      But our service doesn't end with mere provision. We facilitate seamless transit from repository to crafting station, ensuring your tools arrive promptly and in pristine condition. Our automated inventory management keeps track of your arsenal, ensuring you're always equipped for your next celestial endeavour. <br><br>
      
      Join us at the Forge of Destiny, where every craftsman's journey begins. Dare to dream, dare to forge your destiny among the stars.</h1>
  </div>
    </div>
  
  </body>
  
  
  
  

  