/* Set background color for the entire page */
body {
    margin: -8px; /* Remove default body margin */
    height: auto;
    width: auto;
    background-size: cover;
    background-position: center;
  }
  
  /* Navbar container */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 25px 20px;
    margin: 0; /* Remove any margins */
  }
  
  /* Logo */
  .logo img {
    height: 40px;
    padding-left: 20px;
  }
  
  /* Navbar links */
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-right: 80px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: Orbitron;
  }
  
  /* Neon light effect on hover */
.nav-links li a:hover {
    text-decoration: none; /* Remove default underline */
    text-shadow: 0 0 10px #01C38D, 0 0 15px #01C38D, 0 0 20px #01C38D; /* Neon light effect */
    transition: text-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
  }
  
  /* User dropdown */
  .user-dropdown {
    position: relative;
  }
  
  .user-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 40px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .profile-image {
    width: 115px;
    height: 30px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    min-width: 120px;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
  }
  
  .user-dropdown:hover .dropdown-content {
    display: block;
  }
  

  /* Body */

  .Slogan {
    color: #fff; /* Text color */
    font-family: Orbitron; /* Font family */
    font-weight: 500; /* Light font weight */
    letter-spacing: 15px; /* Letter spacing */
    line-height: 150%;
    font-size: 60px;
    margin-top: 145px;
    margin-left: 100px;
    margin-bottom: 10px;
  }

  .more{
    font-size: 25px;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 320px;
    border-bottom: 2px solid #D22EA3; /* Add line with color */
    padding-bottom: 5px; /* Add space between text and line */
    text-decoration: none;
    letter-spacing: 4px;
  }


  .information {
    display: flex;
    margin-left: 100px;/* Align items horizontally at the center */
    gap: 100px; /* Add some gap between the divs */
  }
  
  .nr1, .nr2 {
    flex: 1;
    max-width: 250px; /* Set maximum width for responsiveness */
    margin-top: 120px;
  }
  
  
  
  .info1, .info2 {
    font-size: 20px;
    color: #fff;
    font-family: Orbitron;
    font-weight: 200;
    border-bottom: 2px solid #D22EA3;
    padding-bottom: 5px;
  }
  
  .describe {
    font-size: 14px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .calltoaction {
    position: relative; /* Set position to relative for containing the absolute positioned overlay */
    width: 100%; /* Set width of the container */
    margin-bottom: -60px;
  }
  
  .calltoaction img {
    display: block; /* Make the image a block element */
    width: 95%; /* Set width of the image to fill its container */
    height: auto; /* Maintain aspect ratio */
  }
  
  .overlay {
    position: absolute; /* Set position to absolute */
    top: 52%; /* Align the overlay vertically in the middle */
    left: 50%; /* Align the overlay horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the overlay */
    color: #fff; /* Text color */
    margin-left: 100px;
  }
  
  .overlay h2 {
    font-size: 40px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom right, #01C38D, #D22EA3);
  -webkit-background-clip: text; /* Apply gradient only to the text */
  background-clip: text; /* Apply gradient only to the text */
  color: transparent; /* Make the text transparent */
  font-family: Orbitron;
  }
  
  .overlay p {
    font-size: 20px;
    margin-top: 50px; /* Remove default margin */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .slogan2{
    color: #01C38D;
    font-family: Orbitron;
    font-size: 35px;
    font-weight: 500; /* Light font weight */
    margin-top: 50px;
  }

  .rdInfo{
    margin-left: 100px;
    width: 500px;
    line-height: 150%;
    letter-spacing: 12px;
    font-size: 50px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom right, #01C38D, #D22EA3);
  -webkit-background-clip: text; /* Apply gradient only to the text */
  background-clip: text; /* Apply gradient only to the text */
  color: transparent; /* Make the text transparent */
  font-family: Orbitron;
  }

  .right{
    float: right;
    margin-right: 100px;
    margin-top: -100px;
  }

  .information3{
    letter-spacing: 3px;
    line-height: 150%;
    margin-left: 100px;
    font-size: 15px;
    color: #fff;
    margin-top: 30px;
    width: 450px;
    font-weight: 400; /* Light font weight */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }