<body style="background-image: url('assets/back3.png'); ">

  <div class="navbar">
    <div class="logo">
      <img src="assets/Logo.png" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a href="/home">Home</a></li>
      <li><a href="/materials">Materials</a></li>
      <li><a href="/inventory">Inventory</a></li>
      <li><a href="/craftinv">Crafted</a></li>
    </ul>
    <div class="user-dropdown">
      <button class="user-button">
        <img src="assets/menu.png" alt="Profile" class="profile-image">
      </button>
      <div class="dropdown-content">
        <a href="/login">Admin</a>
        <a href="/login"> Login </a>
      </div>
    </div>
  </div>

  <h1 class="Inventory">
    USER INVENTORY
  </h1>
  <p class="inven_descrip">Know What You Have, Own Your Journey: Your Inventory, Your Power!</p>

  <div class="edits">
    <input type="text" [(ngModel)]="selectedItem.material_name" placeholder="Material Name">
<input type="number" [(ngModel)]="selectedItem.material_amount" placeholder="Material Amount">
    <br><br><br><br><br><br>
    <a class="a-n2" (click)="saveToDatabase()">
      Save      
  </a>
  </div>

  <!-- TODO: Display My Inventory-->
  <div class="inventory-grid left" style="margin-top: 100px;">
    <!-- <div class="card">
        <img [src]="item.icon" width="50" />
        <p>{{item.name}}</p>
    </div> -->

    <!-- TODO: Extract Item  -->
    <div class="row">
      <app-userinv-item *ngFor="let item of userinvList" [item]="item" (viewDetails)="onItemViewDetails($event)"></app-userinv-item>
    </div>

  </div>

</body>

<p *ngIf="userinvList.length == 0">No Inventory availible at the moment</p>