

<div style="height: 864px; width: 101.05%; margin: -8px; background-color: #010101; background-image: url('assets/backlogin.png'); background-size: 100%; background-repeat: no-repeat;">

    <div class="form-group" style="height: 500px; width: 600px; padding-top: 100px; padding-left: 150px;">
        <h1 class="loginTitle">Portal In</h1>
        <label class="loginInputName" for="username">Username</label><br>
        <input type="text" formControlName="username" class="form-control" /><br><br>
        <label class="loginInputName" for="password">Password</label><br>
        <input type="password" formControlName="username" class="form-control" /><br><br>
        <label class="loginInputName" for="username">Validation Code</label><br>
        <input type="text" formControlName="username" class="form-control" /><br><br><br><br><br><br>

        <a class="glow-on-hover" type="button" href="/home">Portal In</a>
    </div>

</div>
