
    <div id="back" style="width: auto; background-color: #010101; background-image: url('assets/backlogin.png'); background-size: 100%;">
        <div class="form-group" style=" width: 600px; padding-top: 80px; padding-left: 150px;">
            <h1 class="loginTitle">Portal In</h1>
            <form [formGroup]="login" (ngSubmit)="onSubmit()">
                <label class="loginInputName" for="email">Email</label><br>
                <input type="email" id="email" class="form-control" formControlName="email" /><br><br>
                <label class="loginInputName" for="password">Password</label><br>
                <input type="password" id="password" class="form-control" formControlName="password" /><br><br>
                <label class="loginInputName" for="validationCode">Validation Code</label><br>
                <input type="text" id="validationCode" class="form-control" /><br><br><br><br><br><br><br>
                <a class="a-n2">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <input class="login-button" type="submit" value="Portal In" In />
                </a>
            </form>
        </div>
    </div>
