<div class="column">
    <div class="container">
        <mat-card class="example-card">
            <mat-card-header class="h1">
                <mat-card-title>{{item.material_name}}</mat-card-title>
                <mat-card-subtitle>{{item.material_amount}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Amount: {{item.material_amount}}</p>
                <img [src]="item.material_icon" width="50px" height="50px">
            </mat-card-content>
            <div class="columns">
                <button class="button-862" (click)="removeFromCart()"><img src="assets/minus.png" style="width: 20px; height: 20px;" alt="Logo"></button>
                <button class="button-86"  (click)="onItemSelect()">View</button>
                <button class="button-861" (click)="addToCart()"><img src="assets/plus.png" style="width: 20px; height: 20px;" alt="Logo"></button>
            </div>
        
                </mat-card><br>
    </div>
</div>
