<body style="background-image: url('assets/back4.png'); ">

    <div class="navbar">
        <div class="logo">
            <img src="assets/Logo.png" alt="Logo">
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="/materials">Materials</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/craftinv">Crafted</a></li>
        </ul>
        <div class="user-dropdown">
            <button class="user-button">
                <img src="assets/menu.png" alt="Profile" class="profile-image">
            </button>
            <div class="dropdown-content">
                <a href="/login">Admin</a>
                <a href="/login"> Login </a>
            </div>
        </div>
    </div>

    <h1 class="Inventory">
        RECIPE
    </h1>
    <p class="inven_descrip">Recipe</p>
    <div class="inventory-grid" style="width: 100%;">

    </div>
    <!-- Recipe-->
    <div class="scroll-container">
        <div class="inventory-grid left">
            <div class="row">
                <app-recipe-item *ngFor="let item of recipeList" [item]="item"
                    (click)="getRecipe(item.recipe_craft_name)"></app-recipe-item>
            </div>
        </div>
    </div>
    <p class="row row-cols-1 row-cols-md-5 g-4" *ngIf="recipeList.length == 0">No Recipes availible at the moment</p>
    <!-- Recipe Ingredients -->
    <div class="view right">
        <ng-container *ngIf="selectedRecipe">
            <h1
                style="margin-left: 50px; margin-top: 50px; max-width: 500px; font-size: 35px; letter-spacing: 5px; font-weight: 500; color: beige;">
                {{selectedRecipe[0]!.craft_name}}</h1>
            <h2 style="margin-left: 50px; max-width: 500px; color: beige;">Status Required:{{selectedRecipe[0]!.status_req}}</h2>

            <div *ngFor="let item of selectedRecipe">
                <h3 style="margin-left: 50px; max-width: 500px; color: beige;">
                    {{ item.material_req }}</h3>
                <!-- <p style="margin-left: 50px; max-width: 500px; color: beige;">
                Amount Required: {{ item.material_amount }}</p> -->
                <div *ngFor="let inv of userinvList">
                    <div *ngIf="inv.material_name === item.material_req">
                        <p style="margin-left: 50px; max-width: 500px;"
                            [style]="inv.material_amount < item.material_amount ? 'color: red' : 'color: beige'">
                            Amount Required: {{ item.material_amount }}
                        </p>
                    </div>                                  
                </div>
            </div>
            @if (selectedRec.isCraftable) {
                <div>
                    <a class="a-n2" (click)="sendRecipe()">Send</a>
                </div>
            }@else {
                <p style="color: red;">Not enough inredients availible in inventory marked in red</p>
            } 
        </ng-container>
    </div>
</body>

<p *ngIf="recipeList.length == 0">No Inventory availible at the moment</p>