<body style="background-image: url('assets/yess.gif'); ">

  <div class="navbar">
    <div class="logo">
      <img src="assets/Logo.png" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="/materials">Materials</a></li>
      <li><a href="/inventory">Inventory</a></li>
      <li><a href="/craftinv">Crafted</a></li>
    </ul>
    <div class="user-dropdown">
      <button class="user-button">
        <img src="assets/menu.png" alt="Profile" class="profile-image">
      </button>
      <div class="dropdown-content">
        <a href="/login">Admin</a>
        <a href="/login"> Login </a>
      </div>
    </div>
  </div>

  <h1 class="Inventory">
    MATERIALS
  </h1>
  <p class="inven_descrip">Crafting Beyond Reality</p>

  <!-- TODO: Display My Inventory-->
  <div class="scroll-container">
    <div class="inventory-grid left">
        <!-- TODO: Extract Item  -->
        <div class="row">
          <app-inventory-item *ngFor="let item of materialList" [item]="item" (itemSelected)="showItemDetails($event)"></app-inventory-item>
        </div>
    
  </div>
  
  

  </div>

  <p class="row row-cols-1 row-cols-md-5 g-4" *ngIf="materialList.length == 0">No Inventory availible at the moment</p>

  <!-- View Container -->
<div class="view right">
  <ng-container *ngIf="selectedItem; else noSelection">
    <h2>{{ selectedItem?.material_name }}</h2>
    <img [src]="selectedItem?.material_icon" width="100" height="100">
    <p>User ID: {{ selectedItem?.profile_id }}</p>
    <p>Amount: {{ selectedItem?.material_amount }}</p>
  </ng-container>
  <ng-template #noSelection>
    <p>Please select an item</p>
  </ng-template>
</div>
</body>